.ScrapeButton {
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
  background-color: #690e09;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border: 4px double #690e09;
  border-radius: 10px;
  font-family: arial,helvetica,sans-serif;
  color: #ffffff !important;
}

.ScrapeButton:hover {
  background: transparent;
  color: #690e09 !important;
}

.ScrapeButton:focus {
  outline:none;
}
.ScrapeButton:active {
  position:relative;
  outline:none;
  top: 2px;
}