.ArticleContainer {
  max-height: 100%;
  max-width:100%;
}

.Image {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  border-radius: 10px 0 0 0;
}

.Link {
  color: #ffffff;
  text-decoration: none;
}

.Link:hover {
  text-decoration: none;
  color: inherit; 
}

.Link:focus {
  text-decoration: none;
  color:inherit;
  outline: none;
}
.ImageCol {
  margin: 0;
}

.p {
  margin: 40px;
  font-size: 24px;
  text-align: left;
}

@media (max-width: 990px) {
    .Image {
      border-radius: 10px 10px 0 0;
    }
}
